<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}
            <div class = "panel-body contentbox">

                <div class = "content" style = "margin-top: 10px;">
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-3 col-sm-3 teambox">
                                <a class = "team">{{ dic.team1 }}</a>
                            </div>
                            <div class = "col-1 col-sm-1">
                                <div class = "row" style="height:50%;margin:0px;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                            <div class = "col-1 col-sm-1 ">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-1 col-sm-1">
                                <a></a>
                            </div>
                            <div class = "col-3 col-sm-3">
                            </div>
                            <div class = "col-1 col-sm-1"style="border-right:groove;margin:0px;">
                            </div>
                            <div class = "col-1 col-sm-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{ dic.quauter1 }}</a>
                            </div>
                            <div class = "col-1 col-sm-1 padding:0;">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                        </div>
                    {#            SecondPlayer#}
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team2}}</a>
                            </div>
                            <div class = "col-1 col-sm-1">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1"style="border-right:groove;">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 col-sm-3">
                            </div>
                            <div class = "col-1 col-sm-1">
                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1"style="border-right:groove;">

                            </div>
                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{dic.semi1}}</a>
                            </div>



                            <div class = "col-1 col-sm-1">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-3 col-sm-3 teambox">
                                <a class = "team">{{dic.team3}}</a>
                            </div>
                            <div class = "col-1 col-sm-1">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1"style="border-right:groove;">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1"style="border-right:groove;">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                            <div class = "col-1 col-sm-1">

                            </div>
                        </div>
                                    <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">
                            </div>
                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{dic.quauter2}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>

            {#            SecondPlayer#}
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team4}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>

                        <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>

                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:60%;">{{dic.winner}}</a>
                            </div>

                            <div class = "col-1 padding:0;">
                                <div class = "row" style="height:50%;border-bottom:groove;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team5}}</a>
                            </div>
                            <div class = "col-1">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">
                            </div>
                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{dic.quauter3}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                    {#            SecondPlayer#}
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team6}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{dic.semi2}}</a>
                            </div>

                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team7}}</a>
                            </div>
                            <div class = "col-1">
                                <div class = "row" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>
                                <div class = "row down" style="height:50%;">
                                    <div class = col-12>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                                    <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;"style="border-right:groove;">
                            </div>
                            <div class = "col-1 teambox"style="padding:0px;">
                                <a class = "team"style="font-size:80%;">{{dic.quauter4}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>

            {#            SecondPlayer#}
                        <div class = "row">
                            <div class = col-1>

                            </div>
                            <div class = "col-3 teambox">
                                <a class = "team">{{dic.team8}}</a>
                            </div>
                            <div class = "col-1 padding:0;">
                                <div class = "row up" style="height:50%;">
                                    <div class = "col-12">
                                        <a></a>
                                    </div>
                                </div>

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                        <div class = "row">
                            <div class = col-1>
                                <a></a>
                            </div>
                            <div class = "col-3 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">
                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                            <div class = "col-1 padding:0;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% endblock %}
</html>