<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}

{% for key, value in dict.items %}
            <div class="container">
                <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <div class="container"><p>season{{key}}</p></div>
                    </div>
                    <div class = "contentbox">
                                 <div class="card">
                                 <div class="card-header">LOSリーグシーズン{{key}}</div>
                                    <table class = "table">
                                        <tr>
                                            <th><div class = "container"><img class = "icon" src = {% static "first.png" %} ></div></th><th>{{ value.team1 }}</th>
                                        </tr>
                                        <tr>
                                            <th><div class = "container"><img class = "icon" src = {% static "second.png" %} ></div></th><th>{{ value.team2 }}</th>
                                        </tr>
                                        <tr>
                                            <th>ベスト4</th><th>{{ value.team3 }},{{value.team4}}</th>
                                        </tr>
                                        <tr>
                                            <th>ベスト8</th><th>{{ value.team5 }},{{value.team6}}</th>
                                        </tr>
                                    </table><br>
                                 </div>
                                <div class="card">
                                    <div class="card-header">LOSリーグシーズン{{key}}勝利数ランキング</div>
                                        <table class = "table">
                                            <tr>
                                                <th><div class = "container"><img class = "icon" src = {% static "first.png" %} ></div></th><th>{{ value.player1 }}</th><th>{{ value.r1 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container"><img class = "icon" src = {% static "second.png" %} ></div></th><th>{{ value.player2 }}</th><th>{{ value.r2 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container"><img class = "icon" src = {% static "third.png" %} ></div></th><th>{{ value.player3 }}</th><th>{{ value.r3 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">4位</div></th><th>{{ value.player4 }}</th><th>{{ value.r4 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">5位</div></th><th>{{ value.player5 }}</th><th>{{ value.r5 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">6位</div></th><th>{{ value.player6 }}</th><th>{{ value.r6 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">7位</div></th><th>{{ value.player7 }}</th><th>{{ value.r7 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">8位</div></th><th>{{ value.player8 }}</th><th>{{ value.r8 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">9位</div></th><th>{{ value.player9 }}</th><th>{{ value.r9 }}</th>
                                            </tr>
                                            <tr>
                                                <th><div class = "container">10位</div></th><th>{{ value.player10 }}</th><th>{{ value.r10 }}</th>
                                            </tr>







                                        </table>


                                </div>



                        {% endfor %}

                        <div class = "container"><button type = "button" class = "btn btn-primary" href = '/'>Back</button></div>

                    </div>

            </div>
            </div>





{% endblock %}
</html>