<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}
<!--            <div class = "box">-->
<!--                <div class = "tytlebox">-->
            <div class="container">
                <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <a lass="p-2 mb-3">結果登録完了</a>
                    </div>
                    <div class = "panel-body contentbox">
                        <a class="p-2 mb-3">結果登録ありがとうございました！</a>

                    </div>
                </div>
            </div>


{% endblock %}
</html>