{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class = "contentbox">
            <div class="googlecal">
                <iframe class="align-content-center" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=bGltaXRsZWFndWVAZ21haWwuY29t&amp;src=cjBwdmcxYTBlbDQ1ajNncm5qYmw3cmFiOGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=bTdhZzBobjhjYzQ0M2xhbmlzc2pmajI5Y29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F09300&amp;color=%234285F4&amp;color=%23009688&showCalendars=0&showCalendars=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
    </div>

{% endblock %}