<html>
{% extends 'base.html' %}
{% load static %}
    {% block content %}

    <div class="container">
            <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <p>チーム{{user.username}}の登録画面</p>
                    </div>
                    <div class = "contentbox">
                        <a href = '/attendance/index'>選手登録</a><br>
                        <a href = '/attendance/report_date'>結果登録</a></br>
                        <a href = '/password_change'>パスワード変更</a></br>
                         <a href = '/attendance/member'>チームメンバー戦績</a></br>
                    </div>
                </div>
            </div>

    </div>

{% endblock %}
</html>