
.nv{
background-color: #00072C;
}

.nva{
color:white;
}

.home{
    background-image: url("/static/los/home.jpg");
    background-size: cover;
  background-position: center 60%;
    width: 100%;
    height:9rem
}
@media screen and (min-width:600px) {
    .home {
        height: 25rem;
    }
}


.tabbutton{
    margin:10px;
}

.box{
    backgroundcolor:black;
    border-style:solid;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

.tytlebox {
    background: linear-gradient(-135deg, darkblue, royalblue);
    color: orange;
    border-color: #FAFAF8;
    font-weight: bold;
    width:100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.main-container {
  margin-bottom: auto;
}
/*sticky*/
.content{
    min-height: 100vh;
}

footer{
    background-color: #00072C;
    border-style:solid;
    width: 100%;
    margin:0;
    margin-top:2vh;
}

.footerbox{
    background-color: #00072C;
    height:auto;
    margin:0;
    margin-left:10px;
    margin-top: 10px;
    color:white;
}



.cal_wrapper {
max-width: 960px; /* 最大幅 */
min-width: 300px; /* 最小幅 */
margin: 2.0833% auto;
}
.googlecal {
position: relative;
padding-bottom: 100%; /* 縦横比 */
height: 0;
}
.googlecal iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}
/* 画面幅が768px以上の場合の縦横比の指定 */
@media only screen and (min-width: 768px) {
.googlecal { padding-bottom: 75%; }
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube iframe {
    top:0;

    width: 80% !important;
    height: 80% !important;
    position: absolute;
}
table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.teambox{
    background-color:#00072C;
    border-style:solid;
    border-radius: 2px;
    margin:0px;
    padding: auto;
    text-align: center;
}


.team{
    background-color:whitesmoke;
    margin:auto;
    text-align:center;
    width:100%;
    height:100%;
}

.down
{
    border-top-style:groove;
    border-right-style:groove;
}
.up
{
    border-bottom-style:groove;
    border-right-style:groove;
}
.iconzone{
    padding:0
}
.icon{
    height: 23px;
    width: 33px;
}