.nv{
background-color: #00072C;
}

.nva{
color:white;
}

.home{
    background-image: url("/static/los/home.jpg");
    background-size: cover;
  background-position: center 60%;
    height: 60vh

}
.tabbutton{
 margin:10px;

}

.box{
    backgroundcolor:black;
    border-style:solid;
    border-radius: 10px;
    margin:15px;
    box-shadow: 2px 2px 4px;
    padding-left: 0;
    padding-right: 0;
}

.tytlebox {
    background: linear-gradient(-135deg, darkblue, royalblue);
    color: orange;
    border-color: #FAFAF8;
    font-weight: bold;
    width:100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-container {
  margin-bottom: auto;
}
/*sticky*/
.content{
    min-height: 100vh;
}

footer{
    background-color: #00072C;
    border-style:solid;
    width: 100vw;
    height: auto;
    margin:0;
    margin-top:2vh;
}

.footerbox{
    background-color: #00072C;
    height:auto;
    margin:0;
    margin-left:10px;
    margin-top: 10px;
    color:white;
}

