<!DOCTYPE HTML>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!--        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
<!--      レスポンシブデザインに必須のmetaタグ:https://www.beginnerweb.net/responsivetr.htmlhttps://www.beginnerweb.net/responsivetr.html-->
        <meta name="viewport" content="width=devise-width, initial-scale=1.0">
        <meta name="google-site-verification" content="YY1EIon08hyz6QoC6HdjNWTM7XT0MqssgA4EAPOXLvA" />
        <meta name="description" content="shadowverse　2Pickアマチュアチームによるリーグ戦LOSリーグ！試合日程、配信予定や対戦データを公開中！" />
        <meta name=”keywords” content=”losleague,LOSリーグ,2Pick”>
     <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>losleague</title>

  </head>

  <body>




<!--nabbar:https://cccabinet.jpn.org/bootstrap4/sample/responsive-navbarsを参考に-->
<nav class="navbar navbar-expand-lg navbar-dark nv">
    <a class="navbar-brand" href="/">LOSleague</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
     <span class="navbar-toggler-icon"></span>
   </button>
<!--&lt;!&ndash;折りたたみメニュー&ndash;&gt;-->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href=" /attendance/final">final<span class="sr-only">(現位置)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href=" /schedule"> schedule<span class="sr-only">(現位置)</span></a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href=" /attendance/match_result"> 試合結果<span class="sr-only">(現位置)</span></a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href=" /attendance/match_list"> 対戦表<span class="sr-only">(現位置)</span></a>
            </li>
              <li class="nav-item active">
              <a class="nav-link" href="  /accounts/login"> login<span class="sr-only">(現位置)</span></a>
            </li>
      </ul>
    </div>
</nav>

<div class="content">
                    {% block content %}
                    {% endblock %}
</div>
                                <footer>
                                    <div class = "footerbox" onclick = "location.href = 'https://twitter.com/LOSleague'">
                                        <p>twitter</p>
                                    </div>
                                    <div class = "footerbox" onclick = "location.href = 'https://www.youtube.com/channel/UCF_KqVt-vv20ECl00xB2W5g'">
                                        <p>youtube</p>
                                    </div>
                                    <div class = "footerbox" onclick = "location.href = 'https://www.openrec.tv/user/LOSleague'">
                                        <p>OPENREC</p>
                                    </div>

                                </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    </body>
</html>
