
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--     テーマ画像-->
<div class="jumbotron home">
                <div class="container-fluid">

                </div>
</div>
<!--タブメニュー。参考url...https://bagelee.com/design/css/create_tabs_using_only_css/-->
            {% for key, value in dic4.items %}
            <div class="container">
                <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <a class="p-2 mb-3">{{key}}</a>
                    </div>
                    <div class = "panel-body contentbox">
                        <div class="container">
                        <a class="p-2 mb-3">{{value.context | linebreaksbr}}</a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
<!--_______________________________________________________________________-->
<!--__________________________________PV_____________________________________-->
<!--<div class = box>-->
<!--    <div class="embed-responsive embed-responsive-16by9">-->
<!--        <iframe width="560" height="315" src="https://www.youtube.com/embed/1idgPmDQfWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--    </div>-->
<!--</div>-->
<!--______________________________________________________________________________-->
<!--     <div class="container">-->
<!--                <div class = "panel panel-default box">-->
<!--                    <div class = "panel-heading tytlebox">-->
<!--                        <a class="p-2 mb-3">LOSリーグseason10参加チーム募集について</a>-->
<!--                    </div>-->
<!--                    <div class = "panel-body contentbox">-->
<!--                        <div class ="container">-->
<!--                            <a>LOSリーグ4月から行われる予定のseason10への参加チームを募集しています。</a><br>-->
<!--                            <a>概要は</a>-->
<!--                            <a href="https://docs.google.com/document/d/1-vs5b-i9J3cGOjJ_Wdoh5Q43XTJvd2R3oFBYrw0tLv8/edit?usp=sharing" target=”_blank”>こちら</a>-->
<!--                            <a>申し込みは</a>-->
<!--                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPgRBdiweVjCFiPqs8F7cE7C2f9Zs0500eVMceTXteYIVLTA/viewform?usp=sf_link" target=”_blank”>こちら</a>-->
<!--                            <a>よりお願いします。</a><br>-->
<!--                            <a>不明な点のお問い合わせは</a>-->
<!--                            <a href = "https://twitter.com/ne2gm" target=”_blank”>代表twitter</a>-->
<!--                            <a>までお願いします。</a><br>-->
<!--                            <a>締め切りは3/29までとなります。</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--     </div>-->
<!--_______________________________________________________________________-->

    <div class = "container-fluid ">
    <div class="box">
        <div class = "container-fluid" style = "margin-top:1rem;">
<!--       <div class="mx-auto">-->
            <ul class="nav nav-pills nav-fill" id = "myTab" role = "tablist">
                <li class="active nav-item border"><a class = "nav-link active" href="#home" data-toggle = "pill">チーム</a></li>
                <li class="nav-item border"><a class = "nav-link" href="#menu1" data-toggle = "pill">個人</a></li>
                <li class="nav-item border"><a class = "nav-link" href="#menu2" data-toggle = "pill">クラス別</a></li>

            </ul>

<!--             チーム成績-->
                <div class="tab-content result">
                  <div id="home" class="tab-pane fade show active" role = "tabpanel">
                      <div class = "container">
                     <p>勝ち点によって順位が決定</p>
                      <p>勝ち点同点の場合点差-ペナルティの値により決定</p>
                      </div>
                     <table class = "table">
                         <tr class = "active" bgcolor="#C0C0C0" style = "border:0;">
                             <th></th>
                             <th colspan="2" class = "text-center align-middle" style="border:0;font-size:0.8rem;">チーム名</th>

                             <th class = "text-center align-middle" style="border:0;font-size:0.8rem;">勝点</th>
                             <th class = "text-center align-middle" style="border:0;font-size:0.8rem;">点差</th>
                             <th class = "text-center align-middle" style="border:0;font-size:0.8rem;">減点</th>
                         </tr>

                     {% for key, value in dic1.items %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                    <th class = "text-center align-middle"><img class = "icon" src = {% static "first.png" %} ></th>
                                {%elif forloop.counter == 2 %}
                                <th class = "text-center align-middle"><img class = "icon" src = {% static "second.png" %} ></th>
                                {%elif forloop.counter == 3 %}
                                <th class = "text-center align-middle"><img class = "icon" src = {% static "third.png" %} ></th>
                                {%else %}
                                <th class = "text-center align-middle">{{forloop.counter}}位</th>
                                {% endif %}
                                {% for x, y in value.items %}
                                {% if x == "id" %}
                                    <th class="c-txtsp text-center align-middle"><img class = "iconpicture" src = {% static y %} ></th>
                                {% else %}
                                    <th class="c-txtsp text-center align-middle" style="padding-left: 0; padding-right: 0">
                                    {{ y }}
                                    </th>
                                {% endif %}

                                {% endfor %}
                            </tr>
                    {% endfor %}
                         </tbody>
                     </table>
                  </div>

<!--                個人成績上位者-->
                    <div id="menu1" class="tab-pane fade" role = "tabpanel">
                        <div class = "container">
                        <p>勝利数トップ10のみ表示</p>
                        </div>
                        <a style=""></a>
                        <table class="table">
                                 <tr bgcolor=#C0C0C0>
                                     <th></th>
                                     <th class = "text-center align-middle" style="font-size:0.8rem;">名前</th>
                                     <th class = "text-center align-middle" style="font-size:0.8rem;">所属</th>
                                     <th class = "text-center align-middle" style="font-size:0.8rem;">win</th>
                                     <th class = "text-center align-middle" style="font-size:0.8rem;">lose</th>
                                 </tr>

                             {% for key, value in dic2.items %}
                                    <tr>
                                        {% if forloop.counter == 1 %}<th class = "text-center align-middle"><img class = "icon" src = {% static "first.png" %} ></th>
                                        {%elif forloop.counter == 2 %}
                                        <th class = "text-center align-middle"><img class = "icon" src = {% static "second.png" %} ></th>
                                        {%elif forloop.counter == 3 %}
                                        <th class = "text-center align-middle"><img class = "icon" src = {% static "third.png" %} ></th>
                                        {%else %}
                                        <th class = "text-center align-middle">{{forloop.counter}}位</th>
                                        {% endif %}



                                        {% for x, y in value.items %}
                                            {% if x == "team" %}
                                                <th class="text-center align-middle"><img class = "iconpicture" src = {% static y %} ></th>
                                            {% else %}
                                                <th class="text-center align-middle" style="padding-left: 0; padding-right: 0">{{ y }}</th>
                                            {% endif %}
                                        {% endfor %}

                                    </tr>
                            {% endfor %}

                         </table>
                    </div>
<!--                クラス別勝利数-->
                     <div id="menu2" class="tab-pane fade" role = "tabpanel">

                        <p style="color:red;"></p>
                            <table class="table">
                                         <tr bgcolor="#C0C0C0">
                                             <th colspan="2" class = "text-center align-middle" style="font-size:0.8rem;">クラス</th>
                                             <th class = "text-center align-middle" style="font-size:0.8rem;">勝率</th>
                                             <th class = "text-center align-middle" style="font-size:0.8rem;">使用数</th>
                                         </tr>

                                     {% for key, value in dic3.items %}
                                            <tr>

                                                <th colspan = "2" class="text-center align-middle">
                                                 {{ value.name }}
                                                </th>
                                                <th class="text-center align-middle">
                                                 {{ value.rate }}
                                                </th>
                                                <th class="text-center align-middle">
                                                 {{ value.total }}
                                                </th>

                                            </tr>
                                    {% endfor %}

                             </table>
                     </div>
                </div>
        </div>
<!--       </div>-->

</div>
</div>
<!--            コンテンツ一単位-->
<!--            {% for key, value in dic4.items %}-->
<!--            <div class="container">-->
<!--                <div class = "panel panel-default box">-->
<!--                    <div class = "panel-heading tytlebox">-->
<!--                        <a class="p-2 mb-3">{{key}}</a>-->
<!--                    </div>-->
<!--                    <div class = "panel-body contentbox">-->
<!--                        <a class="p-2 mb-3">{{value.context}}</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--コンテンツ1単位ここまで-->
{% endblock %}