
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--     テーマ画像-->
<div class="jumbotron home">
                <div class="container-fluid">

                </div>
</div>
<!--タブメニュー。参考url...https://bagelee.com/design/css/create_tabs_using_only_css/-->
<div class="container">
    <div class="container contentbox box">
       <div class="mx-auto">
            <ul class="nav nav-tabs">
                <li class="active tabbutton"><a data-toggle="tab" href="#home">チーム</a></li>
                <li class="tabbutton"><a data-toggle="tab" href="#menu1">個人</a></li>
                <li class="tabbutton"><a data-toggle="tab" href="#menu2">クラス別</a></li>
            </ul>

<!--             上位チーム成績-->
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">

                     <p>トップ5のみ表示</p>
                     <table class = "table">
                         <tr>
                             <th>チーム名</th>
                             <th>勝利数</th>
                             <th>勝ち点</th>
                         </tr>

                     {% for key, value in dic1.items %}
                            <tr>
                                {% for x, y in value.items %}
                                <th class="c-txtsp">
                                 {{ y }}
                                </th>
                                {% endfor %}
                            </tr>
                    {% endfor %}

                     </table>
                  </div>

<!--                個人成績上位者-->
                    <div id="menu1" class="tab-pane fade">
                        <p>勝利数トップ5のみ表示</p>
                        <table class="table">
                                 <tr>
                                     <th>名前</th>
                                     <th>勝利数</th>
                                     <th>敗北数</th>
                                 </tr>

                             {% for key, value in dic2.items %}
                                    <tr>
                                        {% for x, y in value.items %}
                                        <th class="c-txtsp">
                                         {{ y }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}

                         </table>
                    </div>
<!--                クラス別勝利数-->
                     <div id="menu2" class="tab-pane fade">


                            <table class="table">
                                         <tr>
                                             <th>クラス</th>
                                             <th>勝率</th>
                                             <th>使用数</th>
                                         </tr>

                                     {% for key, value in dic3.items %}
                                            <tr>
                                                {% for x, y in value.items %}
                                                <th class="c-txtsp">
                                                 {{ y }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                    {% endfor %}

                             </table>
                     </div>
                </div>
       </div>
</div>
</div>
<!--            コンテンツ一単位-->
            {% for key, value in dic4.items %}
            <div class="container">
                <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <a>{{key}}</a>
                    </div>
                    <div class = "panel-body contentbox">
                        <a>{{value.context}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
<!--コンテンツ1単位ここまで-->
{% endblock %}