
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--     テーマ画像-->
<div class="jumbotron home">
                <div class="container-fluid">

                </div>
</div>
<!--タブメニュー。参考url...https://bagelee.com/design/css/create_tabs_using_only_css/-->
            {% for key, value in dic4.items %}
            <div class="container">
                <div class = "panel panel-default box">
                    <div class = "panel-heading tytlebox">
                        <a class="p-2 mb-3">{{key}}</a>
                    </div>
                    <div class = "panel-body contentbox">
                        <a class="p-2 mb-3">{{value.context}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    <div class = "container-fluid ">
    <div class="box">
<!--       <div class="mx-auto">-->
            <ul class="nav nav-tabs">
                <li class="active tabbutton "><a data-toggle="tab" href="#home">チーム</a></li>
                <li class="tabbutton"><a data-toggle="tab" href="#menu1">個人</a></li>
                <li class="tabbutton"><a data-toggle="tab" href="#menu2">クラス別</a></li>
            </ul>

<!--             チーム成績-->
                <div class="tab-content result">
                  <div id="home" class="tab-pane fade show active">
                      <div class = "container">
                     <p>勝ち点によって順位が決定</p>
                      <p>勝ち点同点の場合得失点-ペナルティの値により決定</p>
                      </div>
                     <table class = "table">
                         <thread class = "active">
                             <th></th>
                             <th colspan="2" class = "text-center align-middle">チーム名</th>

                             <th class = "text-center align-middle">勝点</th>
                             <th class = "text-center align-middle">得点</th>
                             <th class = "text-center align-middle">減点</th>
                         </thread>

                     {% for key, value in dic1.items %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                    <th class = "text-center align-middle"><img class = "icon" src = {% static "first.png" %} ></th>
                                {%elif forloop.counter == 2 %}
                                <th class = "text-center align-middle"><img class = "icon" src = {% static "second.png" %} ></th>
                                {%elif forloop.counter == 3 %}
                                <th class = "text-center align-middle"><img class = "icon" src = {% static "third.png" %} ></th>
                                {%else %}
                                <th class = "text-center align-middle">{{forloop.counter}}位</th>
                                {% endif %}
                                {% for x, y in value.items %}
                                {% if x == "id" %}
                                    <th class="c-txtsp text-center align-middle"><img class = "iconpicture" src = {% static y %} ></th>
                                {% else %}
                                    <th class="c-txtsp text-center align-middle" style="padding-left: 0; padding-right: 0">
                                    {{ y }}
                                    </th>
                                {% endif %}

                                {% endfor %}
                            </tr>
                    {% endfor %}
                         </tbody>
                     </table>
                  </div>

<!--                個人成績上位者-->
                    <div id="menu1" class="tab-pane fade">
                        <div class = "container">
                        <p>勝利数トップ10のみ表示</p>
                        </div>
                        <a style="color:red;"></a>
                        <table class="table">
                                 <tr>
                                     <th></th>
                                     <th class = "text-center align-middle">名前</th>
                                     <th class = "text-center align-middle">所属</th>
                                     <th class = "text-center align-middle">勝利数</th>
                                     <th class = "text-center align-middle">敗北数</th>
                                 </tr>

                             {% for key, value in dic2.items %}
                                    <tr>
                                        {% if forloop.counter == 1 %}<th class = "text-center align-middle"><img class = "icon" src = {% static "first.png" %} ></th>
                                        {%elif forloop.counter == 2 %}
                                        <th class = "text-center align-middle"><img class = "icon" src = {% static "second.png" %} ></th>
                                        {%elif forloop.counter == 3 %}
                                        <th class = "text-center align-middle"><img class = "icon" src = {% static "third.png" %} ></th>
                                        {%else %}
                                        <th class = "text-center align-middle">{{forloop.counter}}位</th>
                                        {% endif %}



                                        {% for x, y in value.items %}
                                            {% if x == "team" %}
                                                <th class="text-center align-middle"><img class = "iconpicture" src = {% static y %} ></th>
                                            {% else %}
                                                <th class="text-center align-middle" style="padding-left: 0; padding-right: 0">{{ y }}</th>
                                            {% endif %}
                                        {% endfor %}

                                    </tr>
                            {% endfor %}

                         </table>
                    </div>
<!--                クラス別勝利数-->
                     <div id="menu2" class="tab-pane fade">

                        <p style="color:red;"></p>
                            <table class="table">
                                         <tr>
                                             <th>クラス</th>
                                             <th>勝率</th>
                                             <th>使用数</th>
                                         </tr>

                                     {% for key, value in dic3.items %}
                                            <tr>
                                                {% for x, y in value.items %}
                                                <th class="c-txtsp">
                                                 {{ y }}
                                                </th>
                                                {% endfor %}
                                            </tr>
                                    {% endfor %}

                             </table>
                     </div>
                </div>
<!--       </div>-->
</div>
</div>
<!--            コンテンツ一単位-->
<!--            {% for key, value in dic4.items %}-->
<!--            <div class="container">-->
<!--                <div class = "panel panel-default box">-->
<!--                    <div class = "panel-heading tytlebox">-->
<!--                        <a class="p-2 mb-3">{{key}}</a>-->
<!--                    </div>-->
<!--                    <div class = "panel-body contentbox">-->
<!--                        <a class="p-2 mb-3">{{value.context}}</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--コンテンツ1単位ここまで-->
{% endblock %}